*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.toc
*.run.xml
*.out
*.bcf
*.fls
*.aux
report/NIR/vkr_nir.aux
report/NIR/vkr_nir.bcf
report/NIR/vkr_nir.fdb_latexmk
report/NIR/vkr_nir.fls
report/NIR/vkr_nir.log
report/NIR/vkr_nir.synctex.gz
report/NIR/vkr_nir.toc
code/__pycache__/dataset_loader.cpython-311.pyc
code/__pycache__/datasets.cpython-311.pyc
code/__pycache__/pipelines.cpython-311.pyc
code/__pycache__/utils.cpython-311.pyc
code/__pycache__/dataset_loader.cpython-310.pyc
code/__pycache__/datasets.cpython-310.pyc
code/__pycache__/onn_model.cpython-310.pyc
code/__pycache__/pipelines.cpython-310.pyc
code/__pycache__/utils.cpython-310.pyc
